
/server/src/ga/TestGaPlugin/bin
/server/src/ga/TestGaPlugin/obj
/server/src/ga/.vs
/server/src/ga/PxLanguagePlugin/.vs
/server/src/ga/PxLanguagePlugin/obj
/server/src/ga/PxLanguagePlugin/bin
/server/src/en/UnitTestEnPlugin/bin
/server/src/en/UnitTestEnPlugin/obj
/server/src/en/.vs
/server/src/en/PxLanguagePlugin/obj
/server/src/en/PxLanguagePlugin/bin

