/EnglishLanguagePlugin/EnglishLanguagePlugin/obj
/EnglishLanguagePlugin/EnglishLanguagePlugin/bin/Debug
/EnglishLanguagePlugin/EnglishLanguagePlugin/bin/Release/Newtonsoft.Json.xml
/EnglishLanguagePlugin/EnglishLanguagePlugin/bin/Release/Newtonsoft.Json.dll
/EnglishLanguagePlugin/.vs
/GaeilgeLanguagePlugin/GaeilgeLanguagePlugin/obj
/GaeilgeLanguagePlugin/GaeilgeLanguagePlugin/bin/Debug
/GaeilgeLanguagePlugin/GaeilgeLanguagePlugin/bin/Release/Newtonsoft.Json.xml
/GaeilgeLanguagePlugin/GaeilgeLanguagePlugin/bin/Release/Newtonsoft.Json.dll
/GaeilgeLanguagePlugin/.vs
/GenericLanguagePlugin/GenericLanguagePlugin/obj
/GenericLanguagePlugin/GenericLanguagePlugin/bin/Debug
/GenericLanguagePlugin/GenericLanguagePlugin/bin/Release/Newtonsoft.Json.xml
/GenericLanguagePlugin/GenericLanguagePlugin/bin/Release/Newtonsoft.Json.dll
/GenericLanguagePlugin/.vs
